.card-container{
    background-color: #95dada;
    backface-visibility: hidden;
    border: 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: 25px;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;

    -moz-osx-font-smothing: grayscale;
}

.card-container:hover{
    transform: scale(1.05);
}